<section class="pb-10">
  <h3 class="text-3xl text-center mb-10">Registered Contracts</h3>
  @if (registeredContracts.length !== 0) {
  <div id="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Contract Number</th>
          <th>Contract Price</th>
          <th>Download PDF</th>
          <th>Renew Contract</th>
        </tr>
      </thead>
      <tbody>
        @for (contract of registeredContracts; track $index) {
        <tr>
          <td>{{ contract.contract_number }}</td>
          <td>{{ contract.total_price }} SAR</td>
          <td>
            <button (click)="generateContract(contract.id)">
              <img
                src="assets/images/download.png"
                alt="Download"
                width="15"
                height="15"
              />
            </button>
          </td>
          <td>
            <button (click)="renewContract(contract.id)">Renew Contract</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div>
    <h3 class="text-xl text-center">There are no contracts</h3>
    <div class="flex justify-center my-10">
      <img src="assets/images/unlike.png" alt="Unlike" />
    </div>
    <div class="flex justify-center">
      <div class="w-fit" (click)="createNewContract()">
        <app-green-button text="Create New Contract"></app-green-button>
      </div>
    </div>
  </div>
  }

  <app-contract-pdf [data]="currentData" />
</section>
