@tailwind base;
@tailwind components;
@tailwind utilities;

#table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
table {
  width: 100%;
  overflow-x: scroll;
}
td {
  text-align: center;
}
tr {
  height: 50px;
}
tbody tr:nth-child(even) {
  background-color: #f2f7fb;
}
tbody tr:nth-child(odd) {
  background-color: #e7f0f8;
}
