<section class="container bg-white rounded-lg shadow mt-10 py-10">
  @if (isLoading) {

  <div role="status">
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>

  } @else {
  <div class="mb-10">
    @if (isValid) {
    <div class="flex flex-col justify-center items-center">
      <img
        ngSrc="assets/images/valid.png"
        alt="Valid icon"
        width="50"
        height="50"
      />
      <p class="text-2xl text-center">العقد ساري</p>
    </div>

    } @else {
    <div class="flex flex-col justify-center items-center">
      <img
        ngSrc="assets/images/not-valid.png"
        alt="Valid icon"
        width="50"
        height="50"
      />
      <p class="text-2xl text-center">العقد منتهي</p>
    </div>
    }
  </div>

  <table *ngIf="contractData" class="w-full text-center ring-1 ring-blue-700">
    <thead class="bg-blue-700 text-white">
      <tr>
        <th>رقم العقد</th>
        <th>اسم الشركة</th>
        <th>تاريخ العقد</th>
        <th>تاريخ انتهاء العقد</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ contractData.id }}</td>
        <td>{{ contractData.name }}</td>
        <td>{{ contractData.contract_date }}</td>
        <td>
          {{ contractData.expiry_date }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Cameras Table -->
  <p class="mt-10 text-center text-2xl">عدد الكاميرات وأنواعها</p>
  <div class="mt-10">
    <table *ngIf="contractData" class="text-center w-full" id="cameras_table">
      <tr>
        <td>عدد الكاميرات الداخلية</td>
        <td>{{ contractData.indoor_cameras }}</td>
        <td>نوع جهاز التخزين</td>
        <td>{{ contractData.storage_device }}</td>
      </tr>
      <tr>
        <td>عدد الكاميرات الخارجية</td>
        <td>{{ contractData.outdoor_cameras }}</td>
        <td>سعة جهاز التخزين</td>
        <td>{{ contractData.period_of_record }}</td>
      </tr>
      <tr>
        <td>مجموع الكاميرات</td>
        <td>{{ totalCameras }}</td>
        <td>عدد شاشات العرض</td>
        <td>{{ contractData.show_screens }}</td>
      </tr>
      <tr>
        <td colspan="2">نوع الكاميرات</td>
        <td colspan="2">
          عدد {{ totalCameras }} كاميرا من نوع {{ contractData.camera_type }}
        </td>
      </tr>
    </table>
  </div>
  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
  }
</section>
