@tailwind base;
@tailwind components;
@tailwind utilities;

#contract {
  background-image: url("../../../../assets/images/contract/contract.png");
  background-size: 100% 100%;
  position: absolute;
  top: -100000000000px;
  left: -100000000000px;
  width: 500mm;
  height: 600mm;
  font-size: 6mm;
  line-height: 1.8;
}

table {
  width: 100%;
}
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  height: 60px;
}
