<section>
  <div id="contract">
    <div class="pt-20 px-40">
      <!-- date -->
      <p class="mb-5">التاريخ/ {{ data.contract_date }}</p>
      <!-- QR Code -->
      <div>
        <qr-code [value]="url" size="250" errorCorrectionLevel="M"></qr-code>
      </div>
      <div class="py-5 px-3">
        <p>رقم العقد {{ data.id }}</p>
        <!-- Title -->
        <div class="flex justify-center -mt-2">
          <h4 class="text-teal-500 text-3xl">
            عـقـد صـيـانـة كـامـيـرات مـراقـبـة
          </h4>
        </div>
      </div>

      <p>تم الاتفاق بين كل من</p>
      <p>
        الطرف الأول / شركة رؤية الأشياء لتقنـيـة المعـلـــومـات شـركــــة شــخص
        واحــــد بــسجــل تجــاري رقم 4030398257 شـــركة ذات مسـؤوليـة مـحـدودة
        وعنوانها حي الزهراء مدينة جدة وبـريـدهـا الإلكتـروني
        info&#64;vision-things.com
      </p>
      <p>
        الطرف الثاني / {{ data.name }} بسجل تجاري رقم
        {{ data.commercial_number }}
        ورقم الجوال {{ data.phone }} وعنوانها {{ data.address }} وبريدها
        الالكتروني {{ data.email }}.
      </p>
      <p class="mb-5">
        حيث إن الطــرف الأول هي إحـدى الشركــات المرخصـة من قبل الهيئة العليا
        للأمن الصناعي بتركيب وصيانة الأجهزة الأمنية في مدينة جدة برخصة رقم
        22506073833 , فقد اتفق الطرفان على البنود التـالـيــة :
      </p>

      <!-- Points -->
      <div>
        <p>
          1. تكون الصيانة لمدة سنة ميلادية وتبدأ من تاريخ
          {{ data.contract_date }} وتنتهي بتاريخ {{ data.expiry_date }}.
        </p>
        <p>
          2. تكلفة الزيارة (750) سبعمائة وخمسين ریال غير شامل الضريبة تدفع
          مقدما.
        </p>
        <p>
          3. يقوم الطرف الأول بإبلاغ الطرف الثاني بالقطع التالفة أو الغير صالحة
          للاستعمال.
        </p>
        <p>4. الطرف الأول غير مسئول عن أي إضافات جديدة على النظام الموجود.</p>
        <p>
          5. إذا لم يؤمن الطرف الثاني القطع المطلوبة يتحمل المســئـوليــة ويكون
          الطرف الأول غيــر مسئول عن الأضرار وعن سوء استخدام النظام.
        </p>
        <p>
          6. لا يشمل عقد الصيانة الأعطال الكهربائية أو ما ينتج عنها من أضرار.
        </p>
        <p>
          7. يقر الطرف الثاني بأن الأعداد والكميات وجميع المعلومات الموضح في
          الجدول أعلاه صحيـحـة ويـتحمل مسئولية أى خطأ تم عند إدخاله هذه
          البيانات.
        </p>
        <p>
          8. يقوم الطرف الثاني بإرسال طلبات الصيانة بشكل رسمي او الكتروني عبر
          الوسائل التالية جوال ( 00966535679174 ) بريد الكتروني (
          info&#64;vision-things.com ).
        </p>
        <p>
          9. عند حدوث أي اختلاف بين الطرفين فإنه يتم حله ودياً وإذا تعذر ذلك
          يلجأ الطرفين إلى التحكيم فى المملكة العربية السعودية.
        </p>
      </div>
      <p>
        يقوم الطرف الأول بصيانة كاميرات المراقبة الأمنية التابعة للطرف الثاني
        وهي كالاتي :
      </p>
      <div class="py-10">
        <table>
          <tbody>
            <tr>
              <td>
                <p>عدد الكاميرات الداخلية</p>
              </td>
              <td>
                <p>{{ data.indoor_cameras }}</p>
              </td>

              <td>
                <p>نوع جهاز التخزين</p>
              </td>
              <td>{{ data.storage_device }}</td>
            </tr>
            <tr>
              <td>
                <p>عدد الكاميرات الخارجية</p>
              </td>
              <td>
                <p>{{ data.outdoor_cameras }}</p>
              </td>

              <td>
                <p>سعة جهاز التخزين</p>
              </td>
              <td>
                @switch (data.period_of_record) { @case ('1') {
                <p>شهر</p>
                } @case ('2') {
                <p>شهرين</p>
                } @case ('3') {
                <p>3 أشهر</p>
                } @case ('4') {
                <p>4 أشهر</p>
                } @case ('5') {
                <p>5 أشهر</p>
                } @case ('6') {
                <p>6 أشهر</p>
                } @case ('7') {
                <p>7 أشهر</p>
                } @case ('8') {
                <p>8 أشهر</p>
                } @case ('9') {
                <p>9 أشهر</p>
                } @case ('10') {
                <p>10 شهور</p>
                } @case ('11') {
                <p>11 شهر</p>
                } @case ('12') {
                <p>12 شهر</p>
                } }
              </td>
            </tr>
            <tr>
              <td>
                <p>مجموع الكاميرات</p>
              </td>
              <td>
                <p>
                  {{
                    calcCamerasCount(data.indoor_cameras, data.outdoor_cameras)
                  }}
                </p>
              </td>

              <td>
                <p>عدد شاشات العرض</p>
              </td>
              <td>
                <p>{{ data.show_screens }}</p>
              </td>
            </tr>
            <tr>
              <td>نوع الكاميرات</td>
              <td colspan="3">
                عدد
                {{
                  calcCamerasCount(data.indoor_cameras, data.outdoor_cameras)
                }}
                كاميرا من نوع
                {{ data.camera_type }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="text-center m-0">والله ولي التوفيق</p>
      <div class="flex justify-between">
        <div class="flex flex-col items-center relative">
          <p>الطرف الأول</p>
          <p>شركة رؤية الأشياء لتقنية المعلومات</p>
          <div id="stamp">
            <img
              src="assets/images/contract/stamp.png"
              alt="Stamp"
              width="200"
            />
          </div>
          <div class="absolute top-50">
            <img
              src="assets/images/contract/signature.png"
              alt="Signature"
              width="250"
            />
          </div>
        </div>
        <div class="flex flex-col items-center">
          <p>الطرف الثاني</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
