<header class="grid grid-cols-1 md:grid-cols-2 mb-20 relative">
  <img
    ngSrc="assets/images/header/main_header.png"
    alt="header"
    fill
    class="z-0"
    priority
  />
  <div id="header_right" class="relative z-10">
    <div
      class="px-10 py-10 text-2xl 2xl:text-6xl text-center leading-relaxed xl:pt-20 z-20"
    >
      <h1>اصدر</h1>
      <h1>عقد صيانة كاميرات</h1>
      <p class="text-teal-500">خلال دقيقتين</p>
      <div class="flex justify-center pt-5 text-2xl">
        <a routerLink="/contract/create-new-contract">
          <button
            class="bg-teal-500 px-5 py-3 rounded hover:ring-2 hover:ring-teal-200 active:ring-2 active:ring-teal-300"
          >
            اصدر عقدك الآن خلال دقيقتين
          </button></a
        >
      </div>
      <p class="text-sm text-center mt-5">
        عقد معتمد من شركات صيانة الأجهزة الأمنية المرخصة من قبل الهيئة
        العليا للأمن الصناعي
      </p>
    </div>
  </div>
  <div id="header_left" class="hidden md:flex justify-center relative z-10">
    <div class="z-20">
      <img
        ngSrc="assets/images/header/header_left.png"
        alt="Home"
        width="350"
        height="400"
        style="width: 80%; height: 70%"
      />
    </div>
  </div>
</header>
