<header class="grid grid-cols-1 md:grid-cols-2 mb-20 relative">
  <img
    ngSrc="assets/images/header/main_header.png"
    alt="header"
    fill
    class="z-0"
  />
  <div id="header_right" class="relative z-10">
    <div class="px-10 py-10 text-2xl xl:text-6xl xl:pt-20 z-20">
      <h1 class="text-2xl xl:text-6xl leading-relaxed text-center">اصدر</h1>
      <h1 class="text-2xl xl:text-6xl leading-relaxed text-center">
        عقد صيانة كاميرات
      </h1>
      <p
        class="text-2xl xl:text-5xl leading-relaxed text-center text-teal-500 py-5"
      >
        خلال دقيقتين
      </p>
      <div class="flex justify-center pt-5 text-2xl">
        <app-green-button
          text="اصدر عقدك الآن خلال دقيقتين "
          rightIcon="assets/images/our_services/button_contract_icon.png"
          route="/contract/create-new-contract"
        ></app-green-button>
      </div>
    </div>
  </div>
  <div id="header_left" class="hidden md:flex justify-center relative z-10">
    <div class="z-20">
      <img
        ngSrc="assets/images/header/header_left.png"
        alt="Home"
        width="350"
        height="400"
        style="width: 80%; height: 70%"
      />
    </div>
  </div>
</header>
