@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  display: block;
}

input {
  border: 1px solid navy;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}
input:focus {
  outline: none;
}
