<section class="container xl:max-w-none xl:px-20 py-20">
  <div class="grid md:grid-cols-12 gap-10">
    <div
      class="hidden md:flex md:col-span-3 bg-white rounded-lg pt-5 shadow flex-col justify-between"
    >
      <div class="container mb-10">
        <h2 class="text-2xl leading-relaxed mb-2">الملف الشخصي</h2>
        @for (item of items; track item.id) {
        <a [routerLink]="item.path" routerLinkActive="active">
          <p class="mb-1">{{ item.title }}</p>
        </a>
        }
      </div>
      <div class="flex relative w-100 h-40">
        <img
          ngSrc="assets/images/contact-us/footer.png"
          alt="Contact us footer"
          fill
        />
      </div>
    </div>
    <div class="bg-white rounded-lg py-5 shadow container md:hidden">
      <h2 class="text-4xl text-center leading-relaxed mb-2">الملف الشخصي</h2>
      <form>
        <select
          #servicesOption
          class="w-full"
          (change)="navigateToService(servicesOption.value)"
        >
          @for (item of items; track item.id) {
          <option [value]="item.path">
            <p>{{ item.title }}</p>
          </option>
          }
        </select>
      </form>
    </div>
    <div class="md:col-span-9 bg-white rounded-lg pt-5 shadow container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
