@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  color: #53c3c0;
}

.active {
  color: #53c3c0;
}

input,
select,
textarea {
  width: 100%;
  border: 2px solid #222aa6;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
input:focus,
select:focus,
textarea:focus {
  border: 2px solid #222aa6;
  outline: none;
}
input,
select {
  height: 40px;
}
