<section class="container xl:max-w-none xl:px-20 py-20">
  <div class="grid md:grid-cols-12 gap-10">
    <div
      class="md:col-span-3 bg-white rounded-lg py-5 md:pb-0 shadow flex flex-col justify-between"
    >
      <div class="container">
        <h2 class="text-4xl leading-relaxed">Contact Us</h2>
        <div class="flex mb-2">
          <div class="p-1">
            <img
              ngSrc="assets/images/contact-us/location.png"
              alt="Location"
              width="15"
              height="15"
            />
          </div>
          <div class="container">
            <p>
              Kingdom of Saudi Arabia - Jeddah - Al Zahraa District - Postal
              Code: 23522
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="p-1">
            <img
              ngSrc="assets/images/contact-us/phone.png"
              alt="Phone"
              width="15"
              height="15"
            />
          </div>
          <div class="container">
            <p>00966535679174</p>
          </div>
        </div>
      </div>
      <div class="hidden md:flex relative w-100 h-40">
        <img
          src="assets/images/contact-us/footer.png"
          alt="Contact us footer"
          fill
        />
      </div>
    </div>
    <div class="md:col-span-9 bg-white rounded-lg pt-5 shadow container">
      <h3 class="text-3xl leading-relaxed">Contact Us</h3>
      <p>
        You can contact us and leave complaints, suggestions or inquiries you
        want, and we will We will contact you as soon as possible
      </p>
      <div class="py-10">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-2 gap-5">
            <div>
              <label for="name" class="block mb-2 text-blue-800" i18n
                >Name</label
              >
              <input
                id="name"
                name="name"
                formControlName="name"
                i18n-placeholder
                placeholder="Your name here"
              />
              <div
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="name.errors?.['required']">Name is required.</p>
                <p *ngIf="name.errors?.['minlength']">Too short.</p>
              </div>
            </div>
            <div>
              <label for="phone" class="block mb-2 text-blue-800" i18n
                >Phone</label
              >
              <input
                id="phone"
                name="phone"
                formControlName="phone"
                i18n-placeholder
                placeholder="Phone"
              />
              <div
                *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="phone.errors?.['required']">Phone is required</p>
                <p *ngIf="phone.errors?.['minlength']">Phone is not valid</p>
                <p *ngIf="phone.errors?.['pattern']">Phone is not valid</p>
              </div>
            </div>
            <div>
              <label for="email" class="block mb-2 text-blue-800">Email</label>

              <input
                id="email"
                name="email"
                formControlName="email"
                i18n-placeholder
                placeholder="name@email.com"
              />
              <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="email.errors?.['required']" i18n>
                  Email is required.
                </p>
                <p *ngIf="email.errors?.['email']" i18n>Email is not valid.</p>
              </div>
            </div>
            <div>
              <label for="subject" class="block mb-2 text-blue-800" i18n
                >Subject</label
              >
              <input
                id="subject"
                name="subject"
                formControlName="subject"
                i18n-placeholder
                placeholder="Subject"
              />
              <div
                *ngIf="subject.invalid && (subject.dirty || subject.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="subject.errors?.['required']">Subject is required.</p>
                <p *ngIf="subject.errors?.['minlength']">Too short.</p>
              </div>
            </div>
            <div class="col-span-2">
              <label for="message" class="block mb-2 text-blue-800" i18n
                >Message</label
              >
              <textarea
                rows="6"
                id="message"
                name="message"
                formControlName="message"
                i18n-placeholder
                placeholder="Message here..."
              ></textarea>
              <div
                *ngIf="message.invalid && (message.dirty || message.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="message.errors?.['required']">Message is required.</p>
                <p *ngIf="message.errors?.['minlength']">
                  Message is too short.
                </p>
              </div>
            </div>

            <!-- reCAPTCHA V 2.0 -->
            <div>
              <re-captcha
                siteKey="6LdG4egpAAAAAJ3SGSIirUiuo6xekatxoiFOWp4Q"
                formControlName="recaptchaReactive"
              ></re-captcha>
            </div>

            <div class="col-span-2 flex justify-center">
              <button
                class="bg-teal-500 hover:bg-cyan-500 px-20 py-3 rounded-md shadow-lg text-white"
                [class.ring-teal-500]="clicking"
                [class.ring-1]="clicking"
                (mousedown)="handleClickingChange()"
                (mouseup)="handleClickingChange()"
                [disabled]="!contactForm.valid"
                type="submit"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
