<section class="container py-20">
  <div class="grid md:grid-cols-12 gap-10">
    <div
      class="md:col-span-3 bg-white rounded-lg py-5 md:pb-0 shadow flex flex-col justify-between"
    >
      <div class="container">
        <h2 class="text-4xl leading-relaxed" i18n>اتصل بنا</h2>
        <div class="flex mb-2">
          <div class="p-1">
            <img
              ngSrc="assets/images/contact-us/location.png"
              alt="Location"
              width="15"
              height="15"
            />
          </div>
          <div class="container">
            <p i18n>
              المملكة العربية السعودية - جدة - حي الزهراء - الرمز البريدي:23522
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="p-1">
            <img
              ngSrc="assets/images/contact-us/phone.png"
              alt="Phone"
              width="15"
              height="15"
            />
          </div>
          <div class="container">
            <p>00967775124874</p>
          </div>
        </div>
      </div>
      <div class="hidden md:flex relative w-100 h-40">
        <img
          src="assets/images/contact-us/footer.png"
          alt="Contact us footer"
          fill
        />
      </div>
    </div>
    <div class="md:col-span-9 bg-white rounded-lg pt-5 shadow container">
      <h3 class="text-3xl leading-relaxed" i18n>تواصل معنا</h3>
      <p i18n>
        يمكنك الاتصال بنا وترك الشكاوى والاقتراحات أو الاستفسار الذي تريده، وسوف
        نتصل بك في أقرب وقت ممكن
      </p>
      <div class="py-10">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-2 gap-5">
            <div>
              <label for="name" class="block mb-2 text-blue-800" i18n
                >الاسم</label
              >
              <input
                id="name"
                name="name"
                formControlName="name"
                i18n-placeholder
                placeholder="اكتب اسمك هنا"
              />
              <div
                *ngIf="name.invalid && (name.dirty || name.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="name.errors?.['required']" i18n>الاسم مطلوب.</p>
                <p *ngIf="name.errors?.['minlength']" i18n>الاسم قصير جدا.</p>
              </div>
            </div>
            <div>
              <label for="phone" class="block mb-2 text-blue-800" i18n
                >الجوال</label
              >
              <input
                id="phone"
                name="phone"
                formControlName="phone"
                i18n-placeholder
                placeholder="الجوال"
              />
              <div
                *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="phone.errors?.['required']" i18n>رقم الجوال مطلوب.</p>
                <p *ngIf="phone.errors?.['minlength']" i18n>
                  رقم الجوال يجب أن يكون من 10 أرقام على الأقل.
                </p>
                <p *ngIf="phone.errors?.['pattern']" i18n>
                  ادخل رقم جوال سعودي صالح.
                </p>
              </div>
            </div>
            <div>
              <label for="email" class="block mb-2 text-blue-800" i18n
                >البريد الالكتروني</label
              >
              <input
                id="email"
                name="email"
                formControlName="email"
                i18n-placeholder
                placeholder="name@email.com"
              />
              <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="email.errors?.['required']" i18n>
                  البريد الإلكتروني مطلوب.
                </p>
                <p *ngIf="email.errors?.['email']" i18n>
                  ادخل بريد الكتروني صالح.
                </p>
              </div>
            </div>
            <div>
              <label for="subject" class="block mb-2 text-blue-800" i18n
                >الموضوع</label
              >
              <input
                id="subject"
                name="subject"
                formControlName="subject"
                i18n-placeholder
                placeholder="الموضوع"
              />
              <div
                *ngIf="subject.invalid && (subject.dirty || subject.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="subject.errors?.['required']" i18n>الموضوع مطلوب.</p>
                <p *ngIf="subject.errors?.['minlength']" i18n>
                  اسم الموضوع قصير جداً.
                </p>
              </div>
            </div>
            <div class="col-span-2">
              <label for="message" class="block mb-2 text-blue-800" i18n
                >الرسالة</label
              >
              <textarea
                rows="6"
                id="message"
                name="message"
                formControlName="message"
                i18n-placeholder
                placeholder="اكتب رسالتك هنا"
              ></textarea>
              <div
                *ngIf="message.invalid && (message.dirty || message.touched)"
                class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
              >
                <p *ngIf="message.errors?.['required']" i18n>الرسالة مطلوبة.</p>
                <p *ngIf="message.errors?.['minlength']" i18n>
                  الرسالة قصيرة جداً.
                </p>
              </div>
            </div>
            <div class="col-span-2 flex justify-center">
              <button
                i18n
                class="bg-teal-500 hover:bg-cyan-500 px-20 py-3 rounded-md shadow-lg text-white"
                [class.ring-teal-500]="clicking"
                [class.ring-1]="clicking"
                (mousedown)="handleClickingChange()"
                (mouseup)="handleClickingChange()"
                [disabled]="!contactForm.valid"
                type="submit"
              >
                ارسال
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
