@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  height: 300px;
  background-image: url("../../../assets/images/sign.png");
  background-size: 100% 100%;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
  border: 2px solid #222aa6;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
input:focus,
textarea:focus {
  border: 2px solid #222aa6;
  outline: none;
}
input:not([type="checkbox"]) {
  height: 40px;
}
.phone-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #222aa6;
  background-color: #f0f3f8;
  border: 2px solid #222aa6;
}
