<section
  class="container xl:max-w-none xl:px-20 grid grid-cols-1 md:grid-cols-2 gap-20 md:gap-10 mb-20"
>
  <div>
    <h3 class="text-3xl leading-relaxed">عن الشركة</h3>
    <p class="my-5">
      رؤية الأشياء هي شركة سعودية متخصصة في تقديم أفضل الحلول الأمنية . لدينا
      فريق من الفنيين ذوي الخبرة والمعتمدين الذين يمكنهم تركيب وصيانة نظام
      الأمان الخاص بك باحترافية وكفاءة. في رؤية الأشياء نحن نعتقد أن الأمن ليس
      ترفاً، بل ضرورة. ولهذا السبب نقدم مجموعة واسعة من المنتجات والخدمات التي
      تناسب احتياجاتك وميزانيتك المحددة. سواء كنت بحاجة إلى كاميرا مراقبة بسيطة
      أو نظام أمني معقد، فلدينا الحل المناسب لك.
    </p>
    <app-green-button
      text="اتصل بنا"
      rightIcon="assets/images/social_media_icons/phone.png"
      route="/contact-us"
    ></app-green-button>
  </div>
  <div>
    <div class="grid grid-cols-3 gap-5 mb-5 pe-5 animate-bounce-slow">
      @for (item of statistics_first_row; track item.id) {
      <div
        class="bg-white shadow-md flex flex-col justify-center items-center p-3 rounded-lg"
      >
        <img
          [ngSrc]="item.image_url"
          alt="Statistical icon"
          width="36"
          height="71"
        />
        <p class="text-center">{{ item.title }}</p>
      </div>
      }
    </div>
    <div class="grid grid-cols-3 gap-5 ps-5 animate-bounce-slow">
      @for (item of statistics_second_row; track item.id) {
      <div
        class="bg-white shadow-md flex flex-col justify-center items-center p-3 rounded-lg"
      >
        <img
          [ngSrc]="item.image_url"
          alt="Statistical icon"
          width="36"
          height="71"
        />
        <p class="text-center">{{ item.title }}</p>
      </div>
      }
    </div>
  </div>
</section>
