<section class="pt-10 container">
  <div class="bg-white shadow rounded-lg container py-10">
    <p class="text-center mb-5">
      تم إرسال رابط تفعيل حسابك إلى بريدك الإلكتروني، برجاء اتباع التعليمات
      لتفعيل حسابك والإستفادة من جميع خدماتنا
    </p>
    <div class="text-center text-sm">
      <p class="mb-3">
        إذا لم تصلك الرسالة في صندوق الوارد قد تكون موجودة في البريد الغير هام.
      </p>
      <p>
        لإعادة الإرسال مرة أخرى
        <span
          class="text-blue-600 cursor-pointer"
          (click)="resendVerificationMail()"
          >اضغط هنا</span
        >
      </p>
    </div>

    <!-- Response Message -->
    @if (message) {
    <div class="mt-5 text-center text-white bg-teal-500 rounded-lg px-5 py-2">
      <p>{{ message }}</p>
    </div>
    }
  </div>
</section>
