<section class="pt-10 container">
  <div class="bg-white shadow rounded-lg container py-10">
    <p class="text-center mb-5">
      A verification mail has been sent to your email, please follow the
      instructions in order to activate your account and get full access to all
      our services.
    </p>
    <div class="text-center text-sm">
      <p class="mb-3">
        If you didn't found the verification mail it may be in the spam folder.
      </p>
      <p>
        To resend
        <span
          class="text-blue-600 cursor-pointer"
          (click)="resendVerificationMail()"
        >
          Click Here</span
        >
      </p>
    </div>

    <!-- Response Message -->
    @if (message) {
    <div class="mt-5 text-center text-white bg-teal-500 rounded-lg px-5 py-2">
      <p>{{ message }}</p>
    </div>
    }
  </div>
</section>
