@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea {
  width: 100%;
  border: 2px solid #222aa6;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
input:focus,
select:focus,
textarea:focus {
  border: 2px solid #222aa6;
  outline: none;
}
input,
select {
  height: 40px;
}

label {
  color: #222aa6;
}

#price {
  background: radial-gradient(50% 50% at 50% 50%, #6884fd 0%, #222aa6 100%);
}
