<section class="container xl:max-w-none xl:px-20 pb-10">
  <h3 class="text-3xl mb-5">تغيير كلمة المرور</h3>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <label for="password" class="block mb-1"> كلمة المرور الجديدة</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="******"
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="password.errors?.['required']">كلمة المرور مطلوبة</p>
          <p *ngIf="password.errors?.['minlength']">ادخل كلمة مرور قوية</p>
        </div>
      </div>
      <div
        *ngIf="responseMessage"
        class="w-100 py-2 container bg-blue-100 text-blue-800 mt-1 rounded col-span-2"
      >
        <p class="text-center">{{ responseMessage }}</p>
      </div>
      <div
        *ngIf="errorMessage"
        class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded col-span-2"
      >
        <p class="text-center">{{ errorMessage }}</p>
      </div>
      <div class="md:col-span-2">
        <div class="flex justify-center">
          <button
            class="bg-teal-500 hover:bg-cyan-500 px-20 py-3 rounded-md shadow-lg text-white"
            [class.ring-teal-500]="clicking"
            [class.ring-1]="clicking"
            (mousedown)="handleClickingChange()"
            (mouseup)="handleClickingChange()"
            [disabled]="!updatePasswordForm.valid"
            type="submit"
          >
            تغيير كلمة المرور
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
