<section class="container xl:max-w-none xl:px-20">
  <h3 class="text-center text-3xl my-10">سياسة الاستبدال والاسترجاع</h3>
  <p class="text-center">
    نحن نهدف إلى تقديم منتجات وخدمات عالية الجودة وتلبية رضا عملائنا. إذا كنت
    غير راضٍ عن المنتج الذي اشتريته من موقعنا، فلديك الحق في استبداله أو
    استرجاعه وفقًا للشروط والأحكام التالية:
  </p>
  <div class="py-10 grid grid-cols-1 gap-10">
    @for (item of items; track item.id; let e=$even) { @if (e) {
    <div
      class="bg-white rounded-lg shadow container py-5 flex flex-wrap md:flex-nowrap gap-10"
    >
      <div class="container">
        <h5 class="text-blue-800 text-lg">
          {{ item.title }}
        </h5>
        <ul class="container">
          @for (point of item.points; track $index) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
      <div class="flex flex-col justify-center">
        <img [ngSrc]="item.icon" alt="item icon" width="300" height="300" />
      </div>
    </div>
    } @else {
    <div
      class="bg-white rounded-lg shadow container py-5 flex flex-wrap md:flex-nowrap gap-10"
    >
      <div class="flex flex-col justify-center">
        <img [ngSrc]="item.icon" alt="item icon" width="300" height="300" />
      </div>
      <div class="container">
        <h5 class="text-blue-800 text-lg">
          {{ item.title }}
        </h5>
        <ul class="container">
          @for (point of item.points; track $index) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    } }
  </div>

  <div class="bg-sky-50 rounded py-5 shadow container mb-10">
    <p class="text-center">
      نحن نحتفظ بالحق في رفض طلبات الاستبدال أو الاسترجاع التي لا تتوافق مع شروط
      وأحكام سياسة الموقع، أو التي تبدو مشبوهة أو غير مبررة.
    </p>
  </div>
</section>
