<section class="container">
  <h3 class="text-3xl leading-relaxed">انشاء عقد جديد</h3>
  <p>يرجى إدخال البيانات التالية لتسجيل عقدك</p>

  <!-- Cameras data -->
  <div class="py-10">
    <form [formGroup]="camerasForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div class="md:col-span-2">
          <label for="company" class="block mb-1">الشركة</label>
          <select
            name="company"
            id="company"
            formControlName="company"
            ngModel="0"
          >
            <option value="0" selected disabled>اختر شركتك</option>
            @for (company of userCompanies; track company.id; let i = $index) {
            <option [value]="company.id">
              {{ company.company_name }}
            </option>
            }
          </select>
          @if (company.invalid || company.value === '0' && (company.dirty ||
          company.touched)) {
          <div
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p>هذا الحقل مطلوب.</p>
          </div>
          }
        </div>
        <div>
          <label for="indoor_cameras" class="block mb-1"
            >عدد الكاميرات الداخلية</label
          >
          <input
            id="indoor_cameras"
            name="indoor_cameras"
            formControlName="indoor_cameras"
            (change)="calcPrice()"
          />
          <div
            *ngIf="
              indoor_cameras.invalid &&
              (indoor_cameras.dirty || indoor_cameras.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="indoor_cameras.errors?.['required']">
              ادخل عدد الكاميرات الداخلية.
            </p>
            <p *ngIf="indoor_cameras.errors?.['pattern']">ادخل أرقام فقط.</p>
          </div>
        </div>
        <div>
          <label for="outdoor_cameras" class="block mb-1"
            >عدد الكاميرات الخارجية</label
          >
          <input
            id="outdoor_cameras"
            name="outdoor_cameras"
            formControlName="outdoor_cameras"
            (change)="calcPrice()"
          />
          <div
            *ngIf="
              outdoor_cameras.invalid &&
              (outdoor_cameras.dirty || outdoor_cameras.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="outdoor_cameras.errors?.['required']">
              ادخل عدد الكاميرات الخارجية.
            </p>
            <p *ngIf="outdoor_cameras.errors?.['pattern']">ادخل أرقام فقط.</p>
          </div>
        </div>
        <div>
          <label for="storage_device" class="block mb-1"
            >نوع وحدة التخزين</label
          >
          <select
            id="storage_device"
            name="storage_device"
            formControlName="storage_device"
            (change)="checkStorageDevice()"
            ngModel="NVR"
          >
            <option value="NVR" selected>NVR</option>
            <option value="CCTV">CCTV</option>
            <option value="other">أخرى</option>
          </select>
          <div
            *ngIf="
              storage_device.invalid &&
              (storage_device.dirty || storage_device.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="storage_device.errors?.['required']">
              ادخل نوع وحدة التخزين.
            </p>
          </div>
        </div>
        <div *ngIf="isCustomStorageDevice">
          <label for="custom_storage_device" class="block mb-1"
            >أدخل نوع وحدة التخزين</label
          >
          <input
            type="text"
            id="custom_storage_device"
            name="custom_storage_device"
            formControlName="custom_storage_device"
          />
        </div>
        <div>
          <label for="period_of_record" class="block mb-1">مدة التسجيل</label>
          <select
            id="period_of_record"
            name="period_of_record"
            formControlName="period_of_record"
            ngModel="6"
          >
            @for (period of periods; track period.id) {
            <option [value]="period.id" [selected]="period.id == 6">
              {{ period.title }}
            </option>
            }
          </select>
          <div
            *ngIf="
              period_of_record.invalid &&
              (period_of_record.dirty || period_of_record.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="period_of_record.errors?.['required']">
              ادخل مدة التسجيل.
            </p>
          </div>
        </div>
        <div>
          <label for="show_screens" class="block mb-1">عدد شاشات العرض</label>
          <input
            id="show_screens"
            name="show_screens"
            formControlName="show_screens"
          />
          <div
            *ngIf="
              show_screens.invalid &&
              (show_screens.dirty || show_screens.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="show_screens.errors?.['required']">
              ادخل عدد شاشات العرض.
            </p>
            <p *ngIf="show_screens.errors?.['pattern']">ادخل أرقام فقط.</p>
          </div>
        </div>
        <div>
          <label for="camera_type" class="block mb-1">نوع الكاميرا</label>
          <select
            id="camera_type"
            name="camera_type"
            formControlName="camera_type"
            (change)="checkCameraType()"
            ngModel="EZVIZ"
          >
            <option value="EZVIZ" selected>EZVIZ</option>
            <option value="Hikvision">Hikvision</option>
            <option value="Dahua">Dahua</option>
            <option value="other">أخرى</option>
          </select>
          <div
            *ngIf="
              camera_type.invalid && (camera_type.dirty || camera_type.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="camera_type.errors?.['required']">ادخل نوع الكاميرا.</p>
          </div>
        </div>
        <div *ngIf="isCustomCameraType">
          <label for="custom_camera_type" class="block mb-1"
            >أدخل نوع الكاميرا</label
          >
          <input
            type="text"
            id="custom_camera_type"
            name="custom_camera_type"
            formControlName="custom_camera_type"
          />
        </div>
        <!-- Total price -->
        <div
          class="md:col-span-2 bg-blue-50 rounded-lg container py-3 grid grid-cols-1 md:grid-cols-2 gap-10"
        >
          <div class="bg-blue-200 rounded-lg py-3">
            <p class="text-center text-blue-800">
              السعر شامل ضريبة القيمة المضافة
            </p>
          </div>
          <div id="price" class="bg-blue-200 rounded-lg py-3">
            <p class="text-center text-white">{{ price }} ريال سعودي</p>
          </div>
        </div>
        <button
          class="md:col-span-2 flex justify-center bg-teal-500 hover:bg-cyan-500 px-20 py-3 rounded-md shadow-lg"
          [class.ring-teal-500]="clicking"
          [class.ring-1]="clicking"
          (mousedown)="handleClickingChange()"
          (mouseup)="handleClickingChange()"
          [disabled]="!camerasForm.valid || company.value === '0'"
          type="submit"
        >
          <p class="px-3 text-white">الخطوة القادمة</p>
          <img
            class="pt-1"
            ngSrc="assets/images/left_arrow.png"
            alt="Arrow"
            width="20"
            height="20"
          />
        </button>
      </div>
    </form>
  </div>
</section>
