<section class="container xl:max-w-none xl:px-20 mb-20">
  <!-- Title -->
  <div class="flex justify-center">
    <img
      ngSrc="assets/images/camera_heading.png"
      alt="Camera"
      width="50"
      height="50"
    />
    <h3 class="text-3xl text-center text-black mx-3">
      كيف يمكنني تركيب الكاميرات بنفسي
    </h3>
  </div>

  <!-- How to install -->
  <div id="how-to-install" class="py-40">
    <div class="container">
      <swiper-container
        pagination="true"
        pagination-clickable="true"
        autoplay="true"
      >
        @for (step of steps; track step.id) {
        <swiper-slide>
          <div class="grid grid-cols-1 md:grid-cols-2 mb-10">
            <div class="container flex flex-col justify-center">
              {{ step.content }}
            </div>
            <div class="hidden md:flex justify-center">
              <img
                [src]="step.imageUrl"
                alt="Camera installation"
                width="300"
                height="300"
              />
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</section>
