<section class="container xl:max-w-none xl:px-20 mb-20">
  <div class="bg-white rounded-lg grid grid-cols-1 md:grid-cols-2 py-10 shadow">
    <div class="container">
      <h3 class="text-3xl text-blue-800 leading-relaxed">رؤيتنا ومهمتنا</h3>
      <p>
        تقديم رؤية لمستقبل التكنولوجيا في المملكة العربية السعودية. تقديم أحدث
        الحلول العلمية والتقنية لمساعدة عملائنا في أعمالهم ودعم اقتصاد المملكة
        من خلال توفير أحدث التقنيات والحلول.
      </p>
    </div>
    <div class="flex justify-center">
      <img
        ngSrc="assets/images/our_vision.png"
        alt="Money"
        width="120"
        height="120"
      />
    </div>
  </div>
</section>
