<section class="container xl:max-w-none xl:px-20 mb-20">
  <div class="bg-white rounded-lg grid grid-cols-1 md:grid-cols-2 py-10 shadow">
    <div class="container">
      <h3 class="text-3xl text-blue-800 leading-relaxed">
        Our Vision & Mission
      </h3>
      <p>
        Providing a vision for the future of technology in the Kingdom of Saudi
        Arabia. Provide the latest Scientific and technical solutions to help
        our customers in their business and support the Kingdom’s economy By
        providing the latest technologies and solutions.
      </p>
    </div>
    <div class="flex justify-center">
      <img
        ngSrc="assets/images/our_vision.png"
        alt="Money"
        width="120"
        height="120"
      />
    </div>
  </div>
</section>
