<section class="container py-10">
  <div class="bg-white py-10 rounded-lg shadow container">
    <p class="text-lg font-bold mb-10">Company Information</p>

    <!-- Company Information Form -->
    <form
      [formGroup]="companyInformationForm"
      (ngSubmit)="submit()"
      class="grid grid-cols-2 gap-5"
    >
      <!-- Company Name -->
      <div>
        <label for="company_name"> Company Name</label>
        <input
          type="text"
          id="company_name"
          formControlName="company_name"
          name="company_name"
          placeholder="Company Name"
        />

        <div
          *ngIf="
            company_name.invalid && (company_name.dirty || company_name.touched)
          "
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="company_name.errors?.['required']">
            Company name is required.
          </p>
        </div>
      </div>

      <!-- Company Type -->
      <div>
        <label for="company_type"> Company Type</label>
        <input
          type="text"
          id="company_type"
          formControlName="company_type"
          name="company_type"
          placeholder="Enter your company type"
        />

        <div
          *ngIf="
            company_type.invalid && (company_type.dirty || company_type.touched)
          "
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="company_type.errors?.['required']">
            This field is required.
          </p>
        </div>
      </div>

      <!-- Building Number -->
      <div>
        <label for="building_number"> Building Number</label>
        <input
          type="text"
          id="building_number"
          formControlName="building_number"
          name="building_number"
          placeholder="Building Number"
        />

        <div
          *ngIf="
            building_number.invalid &&
            (building_number.dirty || building_number.touched)
          "
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="building_number.errors?.['required']">
            This field is required.
          </p>
        </div>
      </div>

      <!-- Street -->
      <div>
        <label for="street">Street name</label>
        <input
          type="text"
          id="street"
          formControlName="street"
          name="street"
          placeholder="Street name"
        />

        <div
          *ngIf="street.invalid && (street.dirty || street.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="street.errors?.['required']">This field is required.</p>
        </div>
      </div>

      <!-- District -->
      <div>
        <label for="district"> District</label>
        <input
          type="text"
          id="district"
          formControlName="district"
          name="district"
          placeholder="District"
        />

        <div
          *ngIf="district.invalid && (district.dirty || district.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="district.errors?.['required']">This field is required.</p>
        </div>
      </div>

      <!-- City -->
      <div>
        <label for="city"> City</label>
        <input
          type="text"
          id="city"
          formControlName="city"
          name="city"
          placeholder=" City"
        />

        <div
          *ngIf="city.invalid && (city.dirty || city.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="city.errors?.['required']">This field is required.</p>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center col-span-2">
        <button
          type="submit"
          class="bg-teal-500 text-white rounded-lg py-2 px-10"
          [disabled]="companyInformationForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
