@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  height: 300px;
  background-image: url("../../../assets/images/sign.png");
  background-size: 100% 100%;
}

input,
textarea {
  width: 100%;
  border: 2px solid #222aa6;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
input:focus,
textarea:focus {
  border: 2px solid #222aa6;
  outline: none;
}
input {
  height: 40px;
}
