<section>
  <div id="header"></div>
  <h3 class="text-center text-3xl mb-10">تسجيل الدخول</h3>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <div class="container grid grid-cols-1 gap-10">
      <div>
        <label for="email" class="block mb-1">البريد الالكتروني</label>
        <input
          id="email"
          name="email"
          placeholder="name@email.com"
          formControlName="email"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="email.errors?.['required']">البريد الإلكتروني مطلوب.</p>
          <p *ngIf="email.errors?.['email']">ادخل بريد الكتروني صالح.</p>
        </div>
      </div>
      <div>
        <label for="password" class="block mb-1">كلمة المرور</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="******"
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
        >
          <p *ngIf="password.errors?.['required']">كلمة المرور مطلوبة .</p>
          <p *ngIf="password.errors?.['minlength']">
            ادخل كلمة مرور قوية مكونة من 6 أرقام على الأقل
          </p>
        </div>
      </div>
      <div>
        <div
          *ngIf="errorMessage"
          class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded col-span-2"
        >
          <p class="text-center">{{ errorMessage }}</p>
        </div>
      </div>
      <div>
        <div>
          <a routerLink="/reset-password">
            <p class="mb-5 text-center text-blue-800 underline">
              نسيت كلمة السر؟
            </p>
          </a>
        </div>
        <div class="flex justify-center">
          <button
            class="bg-teal-500 hover:bg-cyan-500 px-20 py-3 rounded-md shadow-lg text-white"
            [class.ring-teal-500]="clicking"
            [class.ring-1]="clicking"
            (mousedown)="handleClickingChange()"
            (mouseup)="handleClickingChange()"
            [disabled]="!signInForm.valid"
            type="submit"
          >
            تسجيل الدخول
          </button>
        </div>

        <p class="py-5 text-center">
          ليس لديك حساب؟
          <a routerLink="/sign-up" class="text-blue-800 underline"
            >انشئ حساب الآن</a
          >
        </p>
      </div>
    </div>
  </form>
</section>
