<section class="grid grid-cols-1 lg:grid-cols-2 gap-5 pb-10">
  <!-- Payment form -->
  <div>
    <h3 class="text-3xl mb-5">Payment</h3>
    <p class="text-xl mb-10">
      Please fulfill the required data to renew contract
    </p>

    <form [formGroup]="paymentForm" (ngSubmit)="sendPayment()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div class="md:col-span-2">
          <label for="name" class="block mb-1">Card's Holder Name</label>
          <input
            id="name"
            name="name"
            formControlName="name"
            placeholder="Card's Holder Name"
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="name.errors?.['required']">Required.</p>
          </div>
        </div>
        <div class="md:col-span-2">
          <label for="number" class="block mb-1">Card Number</label>
          <input
            id="number"
            name="number"
            formControlName="number"
            placeholder="0000 0000 0000 0000"
          />
          <div
            *ngIf="number.invalid && (number.dirty || number.touched)"
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="number.errors?.['required']">Required.</p>
            <p *ngIf="number.errors?.['pattern']">Not Valid.</p>
            <p *ngIf="number.errors?.['minlength']">Not Valid.</p>
          </div>
        </div>
        <div class="col-span-2">
          <div class="flex gap-3">
            @for (paymentGateway of paymentGateways; track $index) {
            <img
              [ngSrc]="paymentGateway"
              alt="Payment Gateway"
              width="40"
              height="20"
            />
            }
          </div>
        </div>
        <div class="md:col-span-1">
          <label for="cvc" class="block mb-1">CVC </label>
          <input id="cvc" name="cvc" formControlName="cvc" placeholder="000" />
          <div
            *ngIf="cvc.invalid && (cvc.dirty || cvc.touched)"
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="cvc.errors?.['required']">Required</p>
            <p *ngIf="cvc.errors?.['pattern']">Not Valid.</p>
            <p *ngIf="cvc.errors?.['minlength']">Not Valid.</p>
            <p *ngIf="cvc.errors?.['maxlength']">Not Valid.</p>
          </div>
        </div>
        <div class="md:col-span-1">
          <label for="expiry_date" class="block mb-1"> Expiry Date</label>
          <input
            id="expiry_date"
            name="expiry_date"
            formControlName="expiry_date"
            placeholder="MM/YY"
            mask="00/00"
          />
          <div
            *ngIf="
              expiry_date.invalid && (expiry_date.dirty || expiry_date.touched)
            "
            class="w-100 py-2 container bg-pink-300 text-rose-700 mt-1 rounded"
          >
            <p *ngIf="expiry_date.errors?.['required']">Required.</p>
          </div>
        </div>
        <div class="md:col-span-2">
          <button
            class="bg-teal-500 hover:bg-cyan-500 w-full py-3 rounded-md shadow-lg text-white"
            [class.ring-teal-500]="clicking"
            [class.ring-1]="clicking"
            (mousedown)="handleClickingChange()"
            (mouseup)="handleClickingChange()"
            [disabled]="!paymentForm.valid"
            type="submit"
          >
            Continue
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Price details -->
  <div class="container bg-blue-50 py-5">
    <h3 class="text-3xl mb-5">Price</h3>
    <div class="flex justify-between text-blue-800 mb-3">
      <div class="py-3"><p>Price</p></div>
      <div class="bg-blue-100 rounded shadow w-fit py-3">
        <div class="container">
          <p>{{ price }} SAR</p>
        </div>
      </div>
    </div>
    <div class="flex justify-between text-blue-800 mb-3">
      <div class="py-3"><p>VAT (15%)</p></div>
      <div class="bg-blue-100 rounded shadow w-fit py-3">
        <div class="container">
          <p>{{ vat }} SAR</p>
        </div>
      </div>
    </div>
    <div class="flex justify-between text-blue-800 mb-3">
      <div class="py-3"><p>Discount</p></div>
      <div class="bg-blue-100 rounded shadow w-fit py-3">
        <div class="container">
          <p>{{ discount }} %</p>
        </div>
      </div>
    </div>
    <div
      class="flex justify-between bg-white mb-3 rounded shadow py-3 text-blue-800 container"
    >
      <p>Total Price</p>
      <p>{{ totalPrice }} ر.س</p>
    </div>
    <div class="text-center text-blue-800 my-5">
      <p>Do you've a promocode?</p>
    </div>
    <form [formGroup]="discountForm" (ngSubmit)="getDiscount()">
      <input
        type="text"
        name="promo_code"
        placeholder="Promocode"
        class="mb-3"
        formControlName="promocode"
      />
      <button
        class="bg-teal-500 hover:bg-cyan-500 w-full py-3 rounded-md shadow-lg text-white mb-3"
        [disabled]="!discountForm.valid"
        type="submit"
      >
        Apply
      </button>
      <div
        *ngIf="responseMessage"
        class="bg-white mb-3 rounded shadow py-3 text-center text-blue-800 container"
      >
        <p>{{ responseMessage }}</p>
      </div>
    </form>
  </div>
</section>

@if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
}
