<header class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-20">
  <div class="container pt-10">
    <h2 class="text-4xl text-blue-800 leading-relaxed">About Vision Things</h2>
    <h3 class="text-3xl text-teal-500 leading-relaxed">Meet Our Team</h3>
    <p class="leading-relaxed">
      Vision Things is a Saudi company specialized in providing the best
      security solutions. we've got A team of experienced and certified
      technicians who can install and maintain the system Your security
      professionally and efficiently. In seeing things we believe there is no
      security A luxury, even a necessity. That's why we offer a wide range of
      products and services that Fits your specific needs and budget. Whether
      you need a simple surveillance camera Or a complex security system, we
      have the right solution for you.
    </p>
    <img
      ngSrc="assets/images/network.png"
      alt="Network"
      width="300"
      height="300"
      class="reverse"
    />
  </div>
  <div class="relative hidden md:block">
    <img
      ngSrc="assets/images/about_header.png"
      alt="World map"
      fill
      class="reverse"
    />
  </div>
</header>
