<header class="grid grid-cols-1 md:grid-cols-2 gap-5 mb-20">
  <div class="container pt-10">
    <h2 class="text-4xl text-blue-800 leading-relaxed" >عن الشركة</h2>
    <h3 class="text-3xl text-teal-500 leading-relaxed" >تقابل مع فريقنا</h3>
    <p class="leading-relaxed" >
      رؤية الأشياء هي شركة سعودية متخصصة في تقديم أفضل الحلول الأمنية . لدينا
      فريق من الفنيين ذوي الخبرة والمعتمدين الذين يمكنهم تركيب وصيانة نظام
      الأمان الخاص بك باحترافية وكفاءة. في رؤية الأشياء نحن نعتقد أن الأمن ليس
      ترفاً، بل ضرورة. ولهذا السبب نقدم مجموعة واسعة من المنتجات والخدمات التي
      تناسب احتياجاتك وميزانيتك المحددة. سواء كنت بحاجة إلى كاميرا مراقبة بسيطة
      أو نظام أمني معقد، فلدينا الحل المناسب لك.
    </p>
    <img
      ngSrc="assets/images/network.png"
      alt="Network"
      width="300"
      height="300"
    />
  </div>
  <div class="relative hidden md:block">
    <img ngSrc="assets/images/about_header.png" alt="World map" fill />
  </div>
</header>
